<!--<mat-button-toggle-group-->
  <!--name="viewMode"-->
  <!--[(ngModel)]="viewMode"-->
  <!--(change)="viewMode = $event.value">-->
  <!--<mat-button-toggle *ngFor="let mode of modes" [value]="mode.mode">-->
    <!--{{ (mode.title | translate).toUpperCase() }}-->
  <!--</mat-button-toggle>-->
<!--</mat-button-toggle-group>-->

<div class="app-content">
  <app-country-list-container *ngIf="viewMode === MarketplaceViewMode.Countries"></app-country-list-container>
  <app-city-list-container *ngIf="viewMode === MarketplaceViewMode.Cities"></app-city-list-container>
</div>
