<app-city-filter [query]="query"
                 [sortBy]="sortBy"
                 (sortByChange)="sortByChange.emit($event)"
                 (queryChange)="queryChange.emit($event)"
                 (queueChange)="queueChange.emit($event)"></app-city-filter>

<div class="list row">
  <div *ngFor="let city of list" class="col-lg-3 col-sm-6 col-xs-12">
    <app-city-card [city]="city" [countries]="countries"
                   [percent]="getElectoratePercentage(city)"></app-city-card>
  </div>
</div>

<div class="col-xs-12 col-12" *ngIf="total > 8">
  <pagination [directionLinks]="false"
              [totalItems]="total"
              [itemsPerPage]="8"
              [maxSize]="10"
              [firstText]="'COMMON.PAGINATION.FIRST_TEXT' | translate"
              [lastText]="'COMMON.PAGINATION.LAST_TEXT' | translate"
              [rotate]="false"
              [(ngModel)]="currentPage"
              (ngModelChange)="pageChange.emit($event)"></pagination>
</div>

