<div class="card">
  <div class="card-image text-center pt-3" [ngClass]="!city.coat ? randomColor : ''">
    <img class="city-card-top" [src]="cityImageSource" [alt]="city.name">
    <span class="first-letters" [ngClass]="'letters-' + numberOfLetters" *ngIf="!city.coat"
          [innerHTML]="firstLetters"></span>
  </div>
  <div class="card-block container city-card">
    <div class="card-title text-center">
      <span [tooltip]="city.name">{{ city.name }}</span></div>
    <div class="country align-items-center">
      <img
        class="city-country-flag"
        [src]="'assets/images/country-flags/small/' + city.country.toLowerCase() + '.png'"
        alt=""
      />
      <p class="pl-1 m-0">{{ countryName }}</p>
    </div>
    <p class="card-text">
      <span> <b>{{ city.population | convert }}</b> ({{ 'CITY.CARD.PERCENTAGE' | translate:percentage }}) </span>
      <app-parameters-pair
        [tooltip]="loadMayor()"
        [name]="'CITY.CARD.MAYOR' | translate"
        [value]="loadMayor()"
      ></app-parameters-pair>
    </p>
  </div>
  <div class="card-button-block text-center">
    <ng-container *ngIf="!isYours">
      <div [ngClass]="{ 'pending': city.buying }">
        <button class="btn card-button"
                [disabled]="city.buying"
                [ngClass]="{ 'pending': city.buying }"
                (click)="tryToInvest()">
          <span>{{ 'CITY.CARD.INVEST' | translate }} <b>{{ price | eth }} ETH</b></span>
        </button>
        <span>{{ 'CITY.CARD.TO_WIN' | translate }}</span></div>
    </ng-container>
    <ng-container *ngIf="isYours">
      <div class="mayor-sign" [routerLink]="['/my']">
        <img
          class="mr-2"
          [src]="'assets/images/sign.png'"
          alt=""
        />
        <span class="mayor text-left">{{ 'CITY.CARD.YOU_ARE_MAYOR' | translate }}</span>
      </div>
    </ng-container>
  </div>
</div>
