<div class="card">
  <!--<img class="card-img-top" src="" [alt]="city.name">-->
  <div class="card-block container city-card">
    <div class="card-title text-center" [tooltip]="city.name" placement="auto">{{ city.name }}</div>
    <div class="country align-items-center">
      <img class="city-country-flag"
           [src]="'https://flagpedia.net/data/flags/normal/' + city.country.toLowerCase() + '.png'"
           alt=""/>
      <p class="pl-1 m-0">{{ countryName }}</p>
    </div>
    <p class="card-text">
      <span> <b>{{ city.population | convert }}</b> ({{ percentage }}% of electorate) </span>
      <app-parameters-pair [name]="'CITY.CARD.MAYOR' | translate"
                           [value]="mayor"></app-parameters-pair>
    </p>

    <button class="btn card-button">
      {{ ('CITY.CARD.BUY_FOR' | translate).toUpperCase() }} <b>{{ city.price }} ETH</b>
    </button>
  </div>
</div>
