<configuration>
    <system.webServer>
         <rewrite>
            <rules>
              <rule name="AngularJS Routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
              </rule>
              <rule name="Redirect cryptoelections.com to www" patternSyntax="Wildcard" stopProcessing="true">
                 <match url="*" />
                     <conditions>
                    <add input="{HTTP_HOST}" pattern="cryptoelections.com" />
                   </conditions>
                   <action type="Redirect" url="http://www.cryptoelections.com/{R:0}" />
                </rule>
            </rules>
          </rewrite>
          <caching enabled="true" enableKernelCache="true">
              <profiles>
                  <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
              </profiles>
          </caching>
    </system.webServer>
</configuration>
