<nav class="navbar navbar-expand-md navbar-default navbar-light navbar-white">
  <div class="container">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/home']">
      <img
        src="../../../assets/images/logo.png"
        class="d-inline-block align-top"
        [alt]="'TITLE' | translate"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-in mr-auto">
        <li class="nav-item" *ngFor="let link of links" [routerLinkActive]="['active']">
          <a
            class="nav-link"
            [routerLink]="[link.linkTo]"
            *ngIf="link.linkTo !== 'my' || web3Service.account"
          >
            {{ link.text | translate }}</a>
        </li>
      </ul>
      <div class="account-info">
        <span
          class="badge account"
          *ngIf="authService.coinbase"
          [ngClass]="{ 'nickname': web3Service.accountNickname }"
          placement="bottom"
          [popover]="nicknameForm"
          #pop="bs-popover"
          [outsideClick]="true"
        >{{ web3Service.accountNickname || authService.coinbase }}</span>
        <span
          class="badge not-connected"
          [routerLink]="['/metamask']"
          *ngIf="!web3Service.account"
        >{{ 'ACCOUNT.NOT_CONNECTED' | translate }}</span>
      </div>


      <ng-template #nicknameForm>
        <div class="container nickname-form" >
          <h5> {{ 'ACCOUNT.SET_NICKNAME' | translate }} </h5>
          <input
            class="form-control"
            type="text"
            name="nickname"
            [placeholder]="'ACCOUNT.NICKNAME_PLACEHOLDER' | translate"
            [(ngModel)]="nickname"
          />
          <button class="btn card-button" (click)="set()">
            {{ 'ACCOUNT.SET_NICKNAME' | translate }}
          </button>
        </div>
      </ng-template>

    </div>
  </div>
</nav>
