:host nav {
  margin-bottom: 50px;
}

.navbar-white {
  min-height: 100px;
  background-color: rgb(255, 255, 255);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}

.navbar-nav .nav-item {
  padding: 13px;
}

.navbar .navbar-brand {
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.navbar .navbar-nav a {
  color: rgb(0, 0, 0);
  font-size: 21px;
}

.navbar .navbar-nav a:hover {
  color: rgb(217, 7, 114);
}

.navbar .navbar-nav .nav-item.active {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.navbar .account-info {
  white-space: nowrap;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.navbar .account-info .badge {
  padding: 8px 15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(255, 255, 255);
  font-weight: 100;
  cursor: pointer;
}

.badge.account {
  background-color: rgb(217, 7, 114);
}

.badge.account.nickname {
  text-transform: uppercase;
}

.badge.not-connected {
  text-transform: uppercase;
  background-color: rgb(204, 204, 204);
}

.popover-body {
  padding: 0px;
}

.nickname-form {
  padding: 15px;
}

.nickname-form h5 {
  font-weight: 700;
}

.nickname-form .btn {
  margin-top: 10px;
  width: 70%
}

.nickname-form input {
  color: rgb(178, 178, 178);
  border: 1px solid rgb(178, 178, 178);
}

.nickname-form input::-webkit-input-placeholder {
  color: rgb(178, 178, 178);
}

.popover {
  border: 5px solid rgb(230, 230, 230) !important;
}
