:host nav {
  margin-bottom: 50px;
}

.navbar-white {
  height: 100px;
  background-color: rgb(255, 255, 255);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}

.navbar-nav .nav-item {
  padding: 13px;
}

.navbar .navbar-brand {
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.navbar .navbar-nav a {
  color: rgb(0, 0, 0);
  font-size: 21px;
}

.navbar .navbar-nav a:hover {
  color: rgb(217, 7, 114)
}

.navbar .navbar-nav .nav-item.active {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.navbar .account-info {
  white-space: nowrap;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

