<div class="footer-wrap">
  <ng-container *ngIf="!home">
    <div class="messages" *ngFor="let message of messages">
      <div class="container">
        <alert class="mb-0" [type]="message.type" [dismissOnTimeout]="message.timeout"><span
          [innerHTML]="message.msg.text | translate:message.msg.params"></span></alert>
      </div>
    </div>
  </ng-container>

  <footer class="footer">
    <div class="container">
      <div class="row justify-content-between">
        <nav class="navbar footer-nav">
          <a *ngFor="let link of links" class="nav-link" [routerLink]="[link.linkTo]">{{
            link.text | translate }}</a>
        </nav>
        <div class="logo p-3">
          <img [routerLink]="['/metamask']" class=" mr-2" src="assets/images/metamask.png" alt=""/>
          <img src="assets/images/eth.png" alt=""/>
        </div>
      </div>
    </div>
  </footer>
</div>
