<div layout="column">
  <mat-toolbar color="primary">
    <div class="title" [routerLink]="['../']">
      <mat-icon>account_balance</mat-icon>
      <span>{{ 'TITLE' | translate }} </span>
    </div>
    <div class="menu" [routerLink]="['../marketplace']">{{ ('MARKETPLACE.TITLE' | translate).toUpperCase() }}</div>
    <div class="account-info">
      <mat-icon>account_circle</mat-icon>
      <span *ngIf="auth.account" [matTooltip]="auth.account">{{ auth.account }}</span>
      <span *ngIf="!auth.account">{{ 'ACCOUNT.NOT_LOGGED_IN' | translate }}</span>
    </div>
  </mat-toolbar>
</div>
