.row.filter {
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin: 0px 0px 45px 0px !important;
}

.filter h1 {
  font-size: 3.5rem;
}

.filter .form-control,
.filter .custom-select {
  color: rgb(178, 178, 178);
  border: 1px solid rgb(178, 178, 178);
  height: 45px;
}

.filter .form-control::-webkit-input-placeholder {
  color: rgb(178, 178, 178);
}

.label-sort {
  white-space: nowrap;
  color: rgb(178, 178, 178);
}
