<div class="jumbotron" *ngIf="noMetamask || metamaskIsLocked || wrongNetwork">
  <div class="container">
    <ng-container *ngIf="noMetamask">
      <h1>{{ 'ACCOUNT.NOT_CONNECTED' | translate }}</h1>
      <p> {{ 'ACCOUNT.REQUIRE_METAMASK' | translate }}</p>
      <h4>{{ 'ACCOUNT.INSTALL' | translate }}
        <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn">
          MetaMask
        </a>
      </h4>
    </ng-container>
    <ng-container *ngIf="metamaskIsLocked">
      <h2> {{ 'ACCOUNT.METAMASK_LOCKED' | translate }} </h2>
      <p> {{ 'ACCOUNT.METAMASK_LOCKED_TEXT' | translate }}</p>
    </ng-container>
    <ng-container *ngIf="wrongNetwork">
      <h2> {{ 'ACCOUNT.WRONG_NETWORK' | translate }} </h2>
      <p> {{ 'ACCOUNT.WRONG_NETWORK_TEXT' | translate }}</p>
    </ng-container>
  </div>
</div>

<div class="container">
  <accordion class="accordion-questions">
    <accordion-group #group1>
      <div accordion-heading class="justify-content-between">
        <div><span>{{ 'QA.1.QUESTION' | translate }}</span></div>
        <div><i class="fas" [ngClass]="group1.isOpen ? 'fa-minus' : 'fa-plus'"></i></div>
      </div>
      <p [innerHTML]="'QA.1.ANSWER' | translate"></p>
    </accordion-group>
    <accordion-group #group2>
      <div accordion-heading class="justify-content-between">
        <div><span>{{ 'QA.2.QUESTION' | translate }}</span></div>
        <div><i class="fas" [ngClass]="group2.isOpen ? 'fa-minus' : 'fa-plus'"></i></div>
      </div>
      <p [innerHTML]="'QA.2.ANSWER' | translate"></p>
      <img src="assets/images/install-metamask.gif" alt=""/>
    </accordion-group>
    <accordion-group #group3>
      <div accordion-heading class="justify-content-between">
        <div><span>{{ 'QA.3.QUESTION' | translate }}</span></div>
        <div><i class="fas" [ngClass]="group3.isOpen ? 'fa-minus' : 'fa-plus'"></i></div>
      </div>
      <p [innerHTML]="'QA.3.ANSWER' | translate"></p>
      <img src="assets/images/screenshot-locked.png" alt=""/>
    </accordion-group>
    <accordion-group #group4>
      <div accordion-heading class="justify-content-between">
        <div><span>{{ 'QA.4.QUESTION' | translate }}</span></div>
        <div><i class="fas" [ngClass]="group4.isOpen ? 'fa-minus' : 'fa-plus'"></i></div>
      </div>
      <p [innerHTML]="'QA.4.ANSWER' | translate"></p></accordion-group>
    <accordion-group #group5>
      <div accordion-heading class="justify-content-between">
        <div><span>{{ 'QA.5.QUESTION' | translate }}</span></div>
        <div><i class="fas" [ngClass]="group5.isOpen ? 'fa-minus' : 'fa-plus'"></i></div>
      </div>
      <p [innerHTML]="'QA.5.ANSWER' | translate"></p></accordion-group>
    <accordion-group #group6>
      <div accordion-heading class="justify-content-between">
        <div><span>{{ 'QA.6.QUESTION' | translate }}</span></div>
        <div><i class="fas" [ngClass]="group6.isOpen ? 'fa-minus' : 'fa-plus'"></i></div>
      </div>
      <p [innerHTML]="'QA.6.ANSWER' | translate"></p>
    </accordion-group>
  </accordion>
</div>
