<accordion>
  <ng-container *ngIf="myCountries?.length">
    <ng-container *ngFor="let country of myCountries">
      <app-my-country [country]="countries[country]"
                      [citiesOfCountry]="myCitiesByCountry[country]"
                      [percentage]="percentageByCountry(country)"
                      [sellParams]="price(country)"></app-my-country>

    </ng-container>
  </ng-container>

  <ng-container *ngIf="!myCountries || !myCountries.length">
    <div class="jumbotron my-campaign">
      <div class="container">
        <h3><b> {{ 'CAMPAIGN.START' | translate }} </b></h3>
        <p> {{ 'CAMPAIGN.INVEST' | translate }}</p>
      </div>
    </div>

  </ng-container>
</accordion>
