<app-my-campaign-filter *ngIf="myCountries?.length"
                        [query]="query"
                        (queryChange)="queryChange.emit($event)"></app-my-campaign-filter>
<accordion class="pt-4" *loading="isLoading">
  <ng-container *ngIf="myCountries?.length">
    <ng-container *ngFor="let country of myCountries">
      <app-my-country [country]="countries[country]"
                      [allCitiesByCountry]="cities[country]"
                      [dynamicCountries]="dynamic"
                      [dynamicCities]="dynamicCities"
                      [citiesOfCountry]="myCitiesByCountry[country]"></app-my-country>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!myCountries || !myCountries.length">
    <div class="jumbotron my-campaign">
      <div class="container">
        <h3><b> {{ 'CAMPAIGN.START' | translate }} </b></h3>
        <p> {{ 'CAMPAIGN.INVEST' | translate }}</p>
      </div>
    </div>

  </ng-container>
</accordion>

<div class="row pagination" *ngIf="!isLoading">
  <div class="col-xs-12 col-12" *ngIf="total > 4">
    <pagination [directionLinks]="false"
                [totalItems]="total"
                [maxSize]="10"
                [rotate]="false"
                [itemsPerPage]="4"
                [(ngModel)]="+page"
                (ngModelChange)="pageChange.emit($event)"></pagination>
  </div>
</div>

