@keyframes Spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 100%;
  text-align: center;
}

#spinner {
  font-weight: bold;
  color: rgb(217, 7, 114);
  font-size: 3rem;
  -webkit-animation: Spinning 2000ms infinite linear;
  -moz-animation: Spinning 2000ms infinite linear;
  -o-animation: Spinning 2000ms infinite linear;
  animation: Spinning 2000ms infinite linear;
}
