/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%
}

.highlight {
  background: #ffeb3b;
}

.city-card .country {
  display: flex;
}

.city-country-flag {
  width: 24px;
  height: 18px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
}

.card {
  margin-bottom: 20px;
}

.city-card, .country-img-card, .country-card {
  padding: 25px;
  font-size: 14px;
  line-height: 28px;
}

.country-img-card {
  height: 180px;
  align-items: center;
}

.city-card .card-title, .country-card .card-title {
  font-weight: bolder;
  font-size: 24px;
  max-width: 100%;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-button {
  background-color: rgb(29, 112, 183);
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.country-button {
  display: flex;
  padding: 0px;
}

.country-button .btn-left span {
  font-weight: 700;
  font-size: 14px;
}

.country-button .btn-left {
  font-size: 10px;
  word-break: normal;
  width: 70%;
  height: 100%;
  border-right: 1px solid rgb(255, 255, 255);
  padding: 0.325rem;
}

.country-button .btn-right {
  width: 30%;
  font-size: 14px;
  padding: 0.325rem;
}

.country-card {
  background-color: rgb(246, 248, 247);
}

