/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.highlight {
  background: #ffeb3b;
}

.city-card .country {
  display: flex;
}

.city-country-flag {
  width: 24px;
  height: 18px;
}

.card {
  margin-bottom: 20px;
}

.city-card, .country-img-card, .country-card {
  padding: 25px;
  font-size: 14px;
  line-height: 28px;
}

.country-img-card {
  height: 180px;
  display: flex;
}

.country-img-card img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

.city-card .card-title, .country-card .card-title {
  font-weight: bolder;
  font-size: 24px;
  max-width: 100%;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-button {
  background-color: rgb(29, 112, 183);
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.card-button:hover {
  background-color: rgb(217, 7, 114);
}

.country-button {
  display: flex;
  padding: 0px;
}

.country-button .btn-left span {
  font-weight: 700;
  font-size: 14px;
}

.country-button .btn-left {
  font-size: 10px;
  word-break: normal;
  width: 70%;
  height: 100%;
  padding: 0.6rem;
}

.country-button .btn-right {
  width: 30%;
  font-size: 14px;
  padding: 0.6rem;
  word-break: normal;
  line-height: normal;
  border-left: 1px solid rgb(255, 255, 255);
  text-align: left;
}

.country-card {
  background-color: rgb(246, 248, 247);
}

/* pagination */

ul.pagination {
}

li .page-link {
  margin: 0px 5px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  height: 38px;
  min-width: 38px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

li.page-item:hover .page-link {
  background-color: rgb(217, 7, 114);
  color: rgb(255, 255, 255);
}

li.page-item.active .page-link {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(217, 7, 114);
  color: rgb(217, 7, 114);
}

li.page-item:first-child .page-link,
li.page-item:last-child .page-link {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

/* accordion for my countries */
.my-country-header {
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.my-country-image img {
  width: 5rem;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.panel-heading, .panel {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}
