<app-header class="home"></app-header>
<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 p-5">
        <h1>{{ 'HOME.GET_POWER' | translate }}</h1>
        <h1>{{ 'HOME.RUN_COUNTRIES' | translate }}</h1>
        <h1>{{ 'HOME.EARN_MONEY' | translate }}</h1>
        <button class="card-button home-header-button" [routerLink]="['/map']">{{ 'HOME.START_YOUR_CAMPAIGN' | translate
          }}
        </button>
      </div>
      <div class="col-md-6 col-xs-12 img-container">
        <img src="assets/images/box.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="how-to-play">
    <h2>{{ 'HOME.HOW_TO_PLAY' | translate }}:</h2>
    <p>{{ 'HOME.HOW_TO_PLAY_TEXT_1' | translate }}</p>
    <p>{{ 'HOME.HOW_TO_PLAY_TEXT_2' | translate }}</p>
    <p>{{ 'HOME.HOW_TO_PLAY_TEXT_3' | translate }}</p>
  </div>
</div>

<div class="container positions">
  <div class="row">
    <div class="col-4">
      <img src="assets/images/mayor.png" alt=""/>
    </div>
    <div class="col-8 align-self-center">
      <div>
        <h3><b>{{ 'HOME.MAYOR' | translate }}</b></h3>
        <ul class="dashed">
          <li>{{ 'HOME.MAYOR_TEXT_1' | translate }}</li>
          <li>{{ 'HOME.MAYOR_TEXT_2' | translate }}</li>
          <li>{{ 'HOME.MAYOR_TEXT_3' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 align-self-center">
      <div>
        <h3><b>{{ 'HOME.PRESIDENT' | translate }}</b></h3>
        <ul class="dashed">
          <li>{{ 'HOME.PRESIDENT_TEXT_1' | translate }}</li>
          <li>{{ 'HOME.PRESIDENT_TEXT_2' | translate }}</li>
          <li>{{ 'HOME.PRESIDENT_TEXT_3' | translate }}</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <img src="assets/images/president.png" alt=""/>
    </div>
  </div>
</div>


<div class="road-map">
  <div class="container">
    <h2>{{ 'HOME.ROADMAP' | translate }}</h2>
    <div class="timeline-item" date-is='February 26 2018'>
      <p>{{ 'HOME.ROADMAP_1' | translate }}</p>
    </div>
    <div class="timeline-item" date-is='March 2018'>
      <p>{{ 'HOME.ROADMAP_2' | translate }}</p>
    </div>
    <div class="timeline-item" date-is='April 2018'>
      <p>{{ 'HOME.ROADMAP_3' | translate }}</p>
    </div>
    <div class="timeline-item" date-is='May 2018'>
      <p>{{ 'HOME.ROADMAP_4' | translate }}</p>
    </div>
    <div class="timeline-item" date-is='June 2018'>
      <p>{{ 'HOME.ROADMAP_5' | translate }}</p>
    </div>
    <div class="timeline-item" date-is='July 2018'>
      <p>{{ 'HOME.ROADMAP_6' | translate }}</p>
    </div>
    <div class="timeline-item" date-is='End of 2018'>
      <p>{{ 'HOME.ROADMAP_7' | translate }}</p>
    </div>
  </div>
</div>

<div class="home-footer">
  <div>
    <button class="card-button home-footer-button" [routerLink]="['/map']">{{ 'HOME.START_YOUR_CAMPAIGN' | translate }}
    </button>
  </div>
</div>

<app-footer></app-footer>
