h1 {
  font-size: 4rem;
}

.home,
.home /deep/ .navbar-white,
.home-footer {
  background-color: rgb(191, 221, 226) !important;
}

.card-button {
  border-radius: 5px;
}

.home-header-button {
  margin-top: 5rem;
  max-width: 90%;
}

.home-footer-button {
  max-width: 300px;
  margin: 45px auto;
}

.home-footer div {
  width: 100%;
  text-align: center;
}

.how-to-play {
  max-width: 60%;
  margin: 45px auto;
}

.how-to-play h2,
.road-map h2 {
  font-size: 3rem;
  margin-bottom: 45px;
}

.positions {
  margin: 40px auto;
}

.positions img {
  max-width: 100%;
  height: auto;
}

.positions .row {
  margin: 45px 0px;
}

ul {
  margin: 0;
}

ul.dashed {
  padding: 0px;
  list-style-type: none;
}

ul.dashed > li {
  text-indent: -5px;
}

ul.dashed > li:before {
  content: "\2014\a0";
  text-indent: -5px;
  padding-right: 5px;
}

.home .img-container {
  display: flex;
  height: 100%;
  align-self: flex-end;
  overflow: hidden;
}

.road-map {
  background-color: rgb(245, 247, 247);
  padding: 45px;
}

.road-map .period {
  font-weight: 700;
}

@media (min-width: 1200px) {
  .road-map .container {
    min-width: 900px;
    max-width: 900px;
  }
}

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  border-left: 2px solid rgba(217, 7, 114, 0.7);
}

.timeline-item p {
  font-size: 1rem;
}

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: .785rem;
}

.timeline-item::after {
  width: 40px;
  height: 40px;
  display: block;
  top: 0em;
  position: absolute;
  left: -22.5px;
  border-radius: 50%;
  content: '';
  background-color: rgba(217, 7, 114, 1);
}
