h1 {
  font-size: 4rem;
}

.home,
.home /deep/ .navbar-white,
.home-footer {
  background-color: rgb(191, 221, 226) !important;
}

.card-button {
  border-radius: 5px;
}

.home-header-button {
  margin-top: 5rem;
  max-width: 90%;
}

.home-footer-button {
  max-width: 300px;
  margin: 45px auto;
}

.home-footer div {
  width: 100%;
  text-align: center;
}

.how-to-play {
  max-width: 60%;
  margin: 45px auto;
}

.how-to-play h2 {
  font-size: 3rem;
  margin-bottom: 45px;
}

.positions {
  margin: 40px auto;
}

.positions img {
  max-width: 100%;
  height: auto;
}

.positions .row {
  margin: 45px 0px;
}

ul {
  margin: 0;
}

ul.dashed {
  padding: 0px;
  list-style-type: none;
}

ul.dashed > li {
  text-indent: -5px;
}

ul.dashed > li:before {
  content: "\2014\a0";
  text-indent: -5px;
  padding-right: 5px;
}

.home .img-container {
  display: flex;
  height: 100%;
  align-self: flex-end;
  overflow: hidden;
}

.road-map .period {
  font-weight: 700;
}

@media (min-width: 1200px) {
  .road-map .container {
    min-width: 900px;
    max-width: 900px;
  }
}

.road-map ol {
  list-style: none;
  display: inline-flex;
}

.road-map ol:before {
  content: url('../../assets/images/numbers.png');
  margin-right: 15px;
}

.road-map li {
  counter-increment: item;
  margin-bottom: 5px;
  display: inline-flex;
  width: 100%;
}

.road-map canvas {
  height: 1000px;
  margin-bottom: -1000px;
}

.road-map p {
  font-size: 19px;
}

.road-map p.period {
  margin-bottom: 0px;
}
