<app-country-filter [sortBy]="sortBy"
                    [query]="query"
                    (sortByChange)="sortByChange.emit($event)"
                    (queryChange)="queryChange.emit($event)"
                    (queueChange)="queueChange.emit($event)">
</app-country-filter>

<div class="list row" *loading="isLoading">
  <ng-container *ngFor="let country of list">
    <app-country-card class="col-lg-3 col-sm-6 col-xs-12"
                      [country]="country"
                      [cities]="citiesByCountries && citiesByCountries[country.id]"
                      [cityDynamic]="dynamicCities"
                      [dynamic]="dynamicCountries && dynamicCountries[country.id]"
                      [myCities]="myCitiesByCountries && myCitiesByCountries[country.id] || []"
                      [nicknames]="nicknames"
                      (invest)="invest.emit($event)"></app-country-card>
  </ng-container>
</div>


<div class="row pagination" *ngIf="!isLoading">
  <div class="col-xs-12 col-12" *ngIf="total > 8">
    <pagination [directionLinks]="false"
                [totalItems]="total"
                [maxSize]="10"
                [rotate]="false"
                [itemsPerPage]="8"
                [(ngModel)]="+currentPage"
                (ngModelChange)="pageChange.emit($event)"></pagination>
  </div>
</div>

