<div class="card" [ngClass]="{'card-disabled': country && !country.active }" *ngIf="!!experimentType">
  <div class="card-block country-img-card align-items-center">
    <img
      class="card-img"
      [src]="imageLink"
      onerror="this.src = 'assets/images/no-flag.png'"
      alt=""
    >
  </div>
  <div class="card-block country-card">
    <h3 class="card-title text-center">{{ country.name }}</h3>
    <p class="card-text">
      <span><b>{{ numberOfCities }} {{(numberOfCities === 1 ? 'COUNTRY.CARD.CITY' : 'COUNTRY.CARD.CITIES')  | translate }}</b></span>

      <span *ngIf="!!cityPriceRange().lowestPrice"> {{ cityPriceRange().lowestPrice | eth }}<span
        *ngIf="!!cityPriceRange().highestPrice"> - {{ cityPriceRange().highestPrice | eth }}</span> ETH</span><br/>

      <span><b>{{ myCities?.length }}</b> {{('COUNTRY.CARD.' + (myCities?.length === 1 ? 'CITY' : 'CITIES')) | translate }}
        {{ 'COUNTRY.CARD.UNDER_YOUR_CONTROL' | translate }}</span><br/>

      <span><b>{{ electorate | convert }}</b> {{ 'COUNTRY.CARD.OF_ELECTORATE' | translate }}</span><br/>

      <span><b>{{ myElectorate | convert }}</b> {{ 'COUNTRY.CARD.SUPPORT_YOU' | translate }}</span><br/>

      <app-parameters-pair
        [tooltip]="president"
        [name]="'COUNTRY.CARD.PRESIDENT' | translate"
        [value]="president"
      ></app-parameters-pair>

      <span *ngIf="experimentType === Experiment.card && !isLoading"><b>{{ price | eth }} ETH</b> {{ 'COUNTRY.CARD.TO_BECOME_A_PRESIDENT' | translate}}</span>
    </p>
  </div>
  <div class="card-button-block text-center"
       [ngClass]="{'pending': isLoading, 'price-on-card': experimentType === Experiment.card && !isYours}">
    <ng-container *ngIf="!isYours && country.active && experimentType === Experiment.button">
      <button class="btn card-button" (click)="cityList.show(); onShowModal();">
        <span>{{'COUNTRY.CARD.INVEST' | translate }} <b>{{ price | eth }} ETH </b></span>
      </button>
      <span>{{'COUNTRY.CARD.TO_WIN' | translate }}</span>
    </ng-container>
    <ng-container *ngIf="!isYours && country.active && experimentType === Experiment.card">
      <button class="btn card-button" (click)="cityList.show(); onShowModal();">
        <span>{{'COUNTRY.CARD.RUN_CAMPAIGN' | translate }}</span>
      </button>
    </ng-container>
    <ng-container *ngIf="isYours && country.active">
      <div class="president-sign" [routerLink]="['/my']">
        <img
          class="mr-2"
          [src]="'assets/images/sign.png'"
          alt=""
        />
        <span class="president text-left">{{ 'COUNTRY.CARD.YOU_ARE_PRESIDENT' | translate }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="!country.active">
      <div class="president-sign">
        {{ 'COUNTRY.CARD.NOT_IMPLEMENTED' | translate }}
      </div>
    </ng-container>
  </div>
</div>

<div bsModal #cityList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cityList"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <img class="modal-img mr-2"
             [src]="imageLink"
             onerror="this.src = 'assets/images/no-flag.png'"
             alt=""/>
        <h4 class="modal-title pull-left"><b>{{ country.name }}</b></h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="cityList.hide()"
        >
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'COUNTRY.CARD.INVEST_MODAL_TEXT' | translate:{country: country.name} }}
          <a (click)="cityList.hide()"
             [routerLink]="['/cities']"
             [queryParams]="{query: country.name}">{{
            'COUNTRY.CARD.INVEST_MODAL_TEXT_LINK' | translate }}
          </a>
        </p>
        <div class="container country-modal-cities">
          <div class="row align-items-center bordered" *ngFor="let city of costEffectiveCities; let l = last"
               [ngClass]="{'last': l}">
            <div class="col-3">{{ city.name }}</div>
            <div class="col-5"><b>{{ city.population | convert }}</b> {{ cityElectorate(city) }}{{
              'COUNTRY.CARD.INVEST_MODAL_PERCENTAGE' | translate }}
            </div>
            <div class="col-4">
              <ng-container *ngIf="isYoursCity(city)">
                <div class="mayor-sign" [routerLink]="['/my']">
                  <img
                    class="mr-2"
                    [src]="'assets/images/sign.png'"
                    alt=""
                  />
                  <span class="mayor text-left">{{ 'CITY.CARD.YOU_ARE_MAYOR' | translate }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="!isYoursCity(city)">
                <button class="btn card-button" (click)="tryToInvest(city)">
                  <span *ngIf="!city.buying">
                    {{ ( cityDynamic && cityDynamic[city?.id] && cityDynamic[city?.id].price || calculatePrice(city)) | eth }} ETH
                  </span>
                  <span *ngIf="city.buying">{{ 'CITY.CARD.REQUEST_SENT' | translate }}</span>
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
